body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board{
    background-image: url("../Assets/Konkuk-background.png");
}

#bird{
    mask-image: url(../Assets/Ku-1damge.PNG);
}